.header{
    background: #fff;
    padding-left:  40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


/* Left side */

.left-side{
    display: flex;
    align-items: center;
}
.left-side .logo{
    width: 35px;
    cursor: pointer;
    margin-right: 10px;
}
.left-side .logo img{
    width: 100%;
    vertical-align: middle;
}

.left-side .search-bar{
flex: 1;
border: 1px solid rgb(233, 229, 229);
display: flex;
height: 35px;
width: 280px;
align-items: center;
border-radius: 4px;
transition: width 0.6s;
background: #eef3f8;
}
.left-side .search-bar input[type="text"]{
    border: none;
    outline: none;
    vertical-align: middle; 
    background: transparent;
  width: 100%;
  height: 100%;
}
.left-side .search-bar:hover {
    width: 310px;
}
.left-side .search-bar input[type="text"]::placeholder{
    font-size: 15px;
    text-transform: capitalize;
}
.left-side .search-bar .search-icon{
    padding-left: 10px;
    padding-right: 5px;
    font-size: 13px;
    font-weight: bold;
}





/* Middle side */

.middle-side{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 10px;
    justify-content: space-between;
    border-right: 1px solid rgb(196, 189, 189);
}
.middle-side a{
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 29px;
    cursor: pointer;
    margin-left: 7px;
    text-decoration: none;
    color: rgb(57, 59, 61);
    transition: all 0.3s;
    padding-top: 10px;
    padding-bottom: 5px;
    position: relative;
}
.middle-side a span{
    font-size: 11px;
}
.middle-side a i{
    font-size: 15px;
}
.middle-side a .tooltip{
    display: none;
    position: absolute;
    bottom: -30px;
    left: 25px;
    background: rgba(155, 150, 155, 0.867);
    color: #fff;
    padding: 0 5px;
    border-radius: 2px;
}
.middle-side a:hover .tooltip{
    display: inline-block;
}
.middle-side a:hover{
    color: #000;
}

.middle-side .profile-info{
    line-height: 15px;
    vertical-align: middle;
    padding-right: 10px;
}
.middle-side .profile-info img{
    width: 34px;
    border-radius: 50%;
    margin-top:-8px ;
    margin-bottom: 2px;
}

.middle-side .profile-info .profile-link .fa-caret-down,
.middle-side .profile-info .profile-link span,
.middle-side .profile-info .profile-lin
{
    vertical-align: middle;
}



/* right side */
.right-side{
    display: flex;
    align-items: center;
}
.right-side a{
    text-align: center;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: rgb(54, 52, 52);
    font-size: 11px;
}
.right-side .premium{
    text-decoration: underline;
    color: rgb(182, 113, 10);
    font-size: 13px;
}
.for-business{
    flex-direction: column;
}
.grid{
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
    object-fit: cover;
}


@media (max-width:992px) and (min-width:760px){
    .right-side{
        display: none;
    }
    .middle-side{
        flex: 1;
        border: none;
        margin-right: 0;
    }
}

@media (max-width:760px) {
    .header{
        padding-left: 10px;
    }
    .right-side{
        display: none;
    }
    .middle-side{
        flex: 1;
        border: none;
        margin-right: 0;
    }
    .middle-side a span,.middle-side a .tooltip , .left-side .search-bar{
        display: none;
    }
    .middle-side{
        margin-left: 5px;
    }
    .left-side .logo{
        width: 25px;
        cursor: pointer;
        margin-right: 5px;
    }
}
